/* You can add global styles to this file, and also import other style files */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 56px;
  padding-bottom: 20px;
}

@media screen and (min-width: 156px) and (max-width: 246px) {
    body {
        padding-top: 91px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 155px) {
    body {
        padding-top: 141px;
        padding-bottom: 20px;
    }
}

img {
  max-width: 100%;  
}

#project-logo {
    width: 50px; 
    margin-top: -11px;
}

h1 {
    margin-top: 1em;
}

h2 {
    font-style: italic;
}

hr {
	border-top: 4px solid #7d97ad ;
    margin: 0;
}

footer {
    text-align: center;
}