<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <img src="assets/images/logo.png" alt="logo" />
    </div>
    <header class="nav navbar-nav navbar-right">
      <h1>Özgür TÜZGEN</h1>
      <h4>FEND Developer</h4>
    </header>
    <div id="navbar" class="navbar-collapse collapse">

    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>

<hr>

<!-- Main jumbotron -->
<div class="jumbotron">
  <div class="container">
    <picture>
      <source media="(min-width:750px)" srcset="assets/images/projects_large.png 2x,assets/images/projects_large.jpg 1x">
      <source media="(min-width:500px)" srcset="assets/images/projects_medium.jpg">
      <img src="assets/images/projects_medium.jpg" alt="Main Focus" />
    </picture>
  </div>
</div>

<section class="container" name="featured-work">
  <h1>Featured Work</h1>
  <div class="row">
    <article class="col-md-4">
      <img src="assets/images/project1.jpg" alt="Project 1" />
      <h2>HackerRank</h2>
      <p>This is a project that includes solved HackerRank challenges by me. This project is in progress. C# programming language
        is used.
      </p>
      <p><a class="btn btn-default" href="https://github.com/ozgurtuzgen/HackerRank" role="button">View details &raquo;</a></p>
    </article>
    <article class="col-md-4">
      <img src="assets/images/project2.jpg" alt="Project 2" />
      <h2>Angular Sample</h2>
      <p>This is the tutorial project provided by Angular team. It is called as Heroes application. It is developed with Angular.
        For original tutorial: <a href="https://angular.io/docs/ts/latest/tutorial/" class="angular-link">Click Me!</a>
      </p>
      <p><a class="btn btn-default" href="https://github.com/ozgurtuzgen/Heroes" role="button">View details &raquo;</a></p>
    </article>
    <article class="col-md-4">
      <img src="assets/images/project3.jpg" alt="Project 3" />
      <h2>Openlayer with Angular</h2>
      <p>This is a startup project for integrated OpenLayer3 and Angular. It demonstrates basic OpenLayers capability in an
        Angular project.
      </p>
      <p><a class="btn btn-default" href="https://github.com/ozgurtuzgen/NgOpenLayers" role="button">View details &raquo;</a></p>
    </article>
  </div>

  <hr>

  <footer>
    <p>&copy; 2017 Özgür Tüzgen</p>
    <a href="https://www.linkedin.com/in/%C3%B6zg%C3%BCr-t%C3%BCzgen-994b9215/" class="zocial linkedin">LinkedIn</a>
    <a href="https://github.com/ozgurtuzgen" class="zocial github">GitHub</a>
  </footer>
</section>
<!-- /container -->